################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/WSCore/bin/Debug/netcoreapp3.1
/ja2vier
/WSCore/.vs
